* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    /* text-align: center; */
    /* text-transform: capitalize; */
}
.header__toggler {
    display: none;
}
.btn {
    /* background-color: rgb(49,211,92); */
    background: linear-gradient(93deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 400;
}

.btn:hover {
    background: linear-gradient(93deg, rgba(49,211,92,0.6) 0%, rgba(43,183,218,0.6) 100%);
}

.container {
    width: 100%;
    overflow: hidden;
}

#section {
    min-width: 375px;
    max-width: 100%;
}

#header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    max-width: 69.375em;
    margin: 0 auto;
}

.nav__ul{
    display: flex;  
}

.header__logo {
    margin-right: auto;
}

.header__logo img, .footer__logo {
    width: 8.8125rem; 
    height: 1.375rem;
}

.header__btn {
    margin-left: auto;
}

.nav__list {
    height: 100%;
    flex: 1;
}

.nav__list:not(:last-child) {
    margin-right: 2rem;
}

.header__nav .nav__list a {
    font-size: 0.8125rem;
    position: relative;
    color: hsl(233, 8%, 62%);
    height: 80px;
    padding: 30px 0;
}
.header__nav a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgba(49,211,92,1) 0%, rgba(43,183,218,1));
    opacity: 0;
    transition: opacity 200ms ease-in-out;
} 
.header__nav .nav__list:hover a::after{
    opacity: 1;
}

.header__nav a:hover, .footer__nav a:hover {
    transition: color 200ms ease-in-out;
}


.header__nav a:hover {
    color: hsl(233, 26%, 24%);
}


.section__hero {
    background-color: hsl(0, 0%, 98%);
}

.hero__container {
    display: flex;
    position: relative;
    height: 660px;
    max-width: 69.375em;
    margin: 0 auto;
}

.hero__text {
    flex: 2;
    padding: 10.25rem 0 0 0;
}

.hero__heading {
    font-size: 48px;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.hero__heading {
    font-size: 3.1rem;
    margin-top: 1.15rem;
}

.hero__paragraph {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 1.15rem;
    color: hsl(233, 8%, 62%);
}

.hero__btn {
    margin-top: 1.15rem;
}


.hero__image {
    position: relative;
    flex: 3;
}


.hero__image::after {
    content: "";
    position: absolute;
    width: 20%;
    padding: 65%;
    background-image: url("images/image-mockups.png");
    background-repeat: no-repeat;
    background-size: 77%;
    background-position: 83% 163%;   
}

.hero__image::before {
    content: "";
    position: absolute;
    width: 14%;
    padding: 65%;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 124%;
    background-position: 5% 234%;
}


/* whyus section */

.section__whyus {
    background-color: hsl(220, 16%, 96%);
    
}

.whyus__container {
    max-width: 69.375em; /*1110px*/
    margin: 0 auto;
    padding: 6.875rem 0 6.171875rem 0;
}

.whyus__heading {
    font-size: 1.875rem;
    color: hsl(233, 26%, 24%);
    line-height: 1;
}

.whyus__paragraph {
    max-width: 38.25em;
    padding-top: 1.859375rem;
    line-height: 1.5;
}

.whyus__paragraph, .service__paragraph {
    font-size: 0.9375rem;
    color: hsl(233, 8%, 62%);
}

.whyus__services {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.services__service {
    flex: 1;
    padding: 0.9375rem;
}

.service__heading {
    font-size: 1.1875rem;
    /* padding-bottom: 2.140625rem; */
    padding-bottom: 1.671875rem;
    line-height: 1;

}

.service__text {
    padding-top: 2.5rem;
    line-height: 1.5;
}

/* article section */

.section__articles {
    background-color: hsl(0, 0%, 98%);
}

.articles__container {
    max-width: 69.375em;
    margin: 0 auto;

    padding: 6.0625rem 0 5rem 0;
}

.articles__row {
    display: flex;
    justify-content: space-between;
}

.articles__heading {
    font-size: 1.875rem;
    color: hsl(233, 26%, 24%);
    padding: 0 0 3.625rem 0;
    line-height: 1;
}

.articles__article {
    background: #ffffff;
    margin: 0.5rem;
    /* border: 1px solid red; */
}

.article__title:hover {
    color: hsl(136, 65%, 51%);
}

.article__img {
    width: 256px;
    height: 200px;
    border-radius: 5px;
}

.article__text {
    max-width: 12.875rem;
    margin: 0 auto;
}

/* article text */

.article__text {
    padding-bottom: 1.75rem;
}

.article__credit, .article__paragraph {
    color: hsl(233, 8%, 62%);
}

.article__credit {
    font-size: 0.625rem;
    padding: 1.5625rem 0 0.49375rem 0;
    line-height: 1;
}

.article__title {
    font-size: 0.875rem;
    line-height: 1.3;
    padding-bottom: 0.4rem;
    color: hsl(233, 26%, 24%);
}

.article__paragraph {
    font-size: 0.75rem;
}

/* footer style */

#footer {
    background-color: hsl(233, 26%, 24%);
}

.footer__logo__social, .footer__btn__copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.footer__btn__copyright {
    align-items: flex-end;
    flex: 2;
}


.footer__btn {
    justify-self: center;
}

.footer__btn:hover {
    background-color: #ffffff;
    border-radius: 50px;
}

.footer__container {
    display: flex;
    max-width: 69.375em;
    margin: 0 auto;
    width: 100%;
    height: 192px;
    padding: 3rem 0rem 3rem 0rem;
}

.social__img {
    margin-right: 10px;
}
  
.footer__social .fb {
    background-image: url("images/icon-facebook.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .fb:hover {
    background-image: url("images/icon-facebook-hover.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .yt {
    background-image: url("images/icon-youtube.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .yt:hover {
    background-image: url("images/icon-youtube-hover.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .tw {
    background-image: url("images/icon-twitter.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .tw:hover {
    background-image: url("images/icon-twitter-hover.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .pin {
    background-image: url("images/icon-pinterest.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .pin:hover {
    background-image: url("images/icon-pinterest-hover.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .inst {
    background-image: url("images/icon-instagram.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social .inst:hover {
    background-image: url("images/icon-instagram-hover.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.footer__social a {
    margin-right: 10px;
}


.footer__nav__1 {
    flex: 1;
}

.footer__nav__2 {
    flex: 2;
}


.footer__logo__social {
    flex: 2;
}

.footer__nav .nav__list {
    margin-bottom: 15px;
}

.footer__nav a {
    font-size: 14px;
    color: #fff;
}

.footer__nav a:hover {
    color: hsl(136, 65%, 51%);
}


.footer__copyright {
    font-size: 14px;
    color: hsl(233, 8%, 62%);
}


@media only screen and (max-width: 1190px) {
    #header, .hero__container, .whyus__container {
        max-width: 64em;
    }

    .hero__image::after {
        padding: 67%;
        background-size: 81%;
        background-position: 85% 105%;
    }
    
    .hero__image::before {
        padding: 70%;
    }

    #footer {
        padding: 0 26px 0 26px;
    }

  }

  /* tablet and small desktop sizes */

  @media only screen and (max-width: 1024px) {
    .header__toggler {
        display: block;
    }

    #header {
        max-width: 930px;
        min-width: 375px;
        height: 60px;
        padding: 0 26px 0 26px;
    }

    .header__btn {
        display: none;
    }


    .toggle__btn {
        cursor: pointer;
    }

    .nav__ul {
        display: none;  
        flex-direction: column;
        text-align: center;
        width: 80%;  
        background-color: #ffffff;
        border-radius: 5px;
        position: absolute;
        max-width: auto;
        height: auto;
        margin: auto;
        padding: 5px 0 5px 0;
        top: 115%;
        left: 10%;
        z-index: 999;

    }

    .nav__list {
        display: flex;
        justify-content: center;
    }


    .header__nav .nav__list a {
        font-size: 15px;
        height: 60px;
        padding: 20px 0;
    }

    .nav__list a:hover {
        transition: color 200ms ease-in-out;
        color: hsl(233, 26%, 24%);
    }
    
    .nav__list:not(:last-child) {
        margin-right: 0rem;
    }

    .header__nav a::after {
        display: none;
    }

    .show {
        display: flex;
    }

    .hide {
        display: none;
    }

    /* hero section */

    .hero__container {
        flex-direction: column-reverse;
        height: auto;   
        min-width: 375px;
    }

    .hero__image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        padding: 65%;
        background-image: url("images/image-mockups.png");
        width: 0;
        padding: 62%;
        background-repeat: no-repeat;
        background-size: 76%;
        background-position: 7% -387%;
    }
    

    .hero__image::before {
        background-image: none;
    }

    .hero__image{
        padding: 47%;
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 79%;
    }

    .hero__text {
        text-align: center;
        padding: 0 0 5.5rem 0;
    }

    .hero__heading {
        font-size: 32px;
        padding: 0;
    }

    .whyus__container {
        /* max-width: 725px; */
        text-align: center;
    }

    .whyus__paragraph {
        margin: 0 auto;
    }

    .whyus__services {
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .services__service {
        flex: 0 0 50%;
    }
    


    /* article section */


    .articles__heading {
        text-align: center;
    }
    .articles__row {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.8rem;
    }

  }


  @media only screen and (max-width: 640px) {
      
    .whyus__container {
        min-width: 375px;
        max-width: 300px;
    }

    .whyus__heading {
        font-size: 1.5rem;
    }

    .whyus__services {
        flex-direction: column;
        align-items: center;

    }

    .services__service {
     padding-top: 1.8125rem;
    }

    .service__heading {
        padding-bottom: 1.155rem;
    
    }

    .service__text {
        padding-top: 1.85rem;
    }

    /* article section style */

    .articles__container {
        padding-bottom: 5.9375rem 0 5.5rem 0;
    }

    .articles__heading {
        font-size: 1.5rem;
        padding-bottom: 2.375rem;
    }

    .articles__row {
        padding: 0;
    }


    /* footer style */
    .footer__container {
        min-width: 375px;
        flex-direction: column;
        height: 510px;
        align-items: center;
    }

    .footer__btn__copyright {
        align-items: center;
        flex: 1;
    }
    

    
    .footer__nav__1 {
        padding-top: 30px;
        flex: 1;
    }

    .footer__nav__2 {
        padding-bottom: 30px;
        flex: 1;
    }


    .footer__logo__social {
        flex: 1;
    }

}